<form class="form-inline login-form">
  {{#if showLoginForm}}
    <span class="email-field">
      {{view Em.TextField valueBinding="email" placeholder="Email"}}
     </span>
     <span class="password-field">
      {{view Em.TextField valueBinding="password" placeholder="Password"}}
    </span>
    <span class="submit-button">
      <button {{action "login"}}>Login</button>
    </span>

    {{#linkTo "register"}}Register{{/linkTo}}
  {{else}}
    <a {{bindAttr href="dropboxUrl"}}>Login with Dropbox</a>
  {{/if}}
</form>